log/
projects/
status/
projects/
projects_0/
projects_1/
projects_3/
projects_5/
projects_top5/
projects_top5_difflib/
projects_surrounding_context/
logs/
deepseek/
deepseek_origin/
llama-3.2-90b-vision-instruct/
multiple_round/
multiple_round2/
projects_full_context/
qwen2.5-72b-instruct/
